obj/
.vs/
*.i64
*.pdb
/Test/GeneratedTestBlob.cs
*.tlog
*.lastbuildstate
unsuccessfulbuild
*.obj
*.idb
*.log
*.pch
*.ilk
*.recipe
**/x64
**/[Dd]ebug
**/[Rr]elease
*.enc
*.aps
vsxmake*/
.cache/
build/
